---
const platform = "github";
const username = "withastro";
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
</footer>

<style>
  footer {
    width: 100vw;
    height: 128px;

    margin: 16px 0px 0px 0px;
    padding: 0px;
    
    border: 0px;
    border-top: 1px;
    border-style: double;
    border-color: black;

    display: flex;
    justify-content: center;
    align-content:  center;
  }
</style>